*{
    padding: 0;
    margin: 0;
}
body{
    width: 100%;
    font-family: "Helvetica Neue","Hiragino Sans GB","Microsoft Yahei",Helvetica,Arial,sans-serif;
}
.main{
    width: 100%;
    height: 100%;
    min-height: 500px;
    min-width: 930px;
}
.top{
    width:100%;
    height: 56px;
    background:url("img/topback.png") repeat 0 0;/*00 的含义有争议*/
}

